#!/bin/sh

action="$1"

case "$action" in
    "1" | "install")
        install
        ;;
    "2" | "upgrade")
        upgrade
        ;;
    "abort-upgrade")
        # debian specific: do nothing
        ;;
    *)
        # alpine
        install
        ;;
esac
