# FIXME: Work out a better way to bootstrap the password (init holding pattern until a manual 'exec' command is issued?)
# Or create a simple local CA where the user has already uploaded the certificate to c8y
C8Y_USER=peter@company.com
C8Y_PASSWORD="your-password"
