[Unit]
Description=tedge-agent is a thin-edge.io component to support operations for topic-id %I
After=syslog.target network.target mosquitto.service

[Service]
User=tedge
Environment=TEDGE_CONFIG_DIR=/etc/tedge-agents/%I
Environment=TEDGE_RUN_LOCK_FILES=false
RuntimeDirectory=tedge-agent-%i
ExecStartPre=+-/usr/bin/tedge init
ExecStartPre=cp /etc/tedge/tedge.toml /etc/tedge-agents/%I/
ExecStart=/usr/bin/tedge-agent --mqtt-device-topic-id %I
Restart=on-failure
RestartPreventExitStatus=255
RestartSec=5

[Install]
WantedBy=multi-user.target
