[Unit]
Description=c8y-remote-access-plugin Service
After=network.target c8y-remote-access-plugin.socket
Requires=c8y-remote-access-plugin.socket
CollectMode=inactive-or-failed

[Service]
ExecStart=/usr/bin/c8y-remote-access-plugin --child -
#ExecStart=/bin/sh -c "read -r REQUEST; echo Received request $REQUEST; exec /usr/bin/c8y-remote-access-plugin --child \"$REQUEST\""
StandardInput=socket
# If set to journal, then the requestor does not receive any information about it
# Note: If the thin-edge.io does not read from the socket, then it will be blocked.
StandardOutput=journal

[Install]
WantedBy=default.target
