[Unit]
Description=c8y-remote-access-plugin Socket
PartOf=c8y-remote-access-plugin.service

[Socket]
ListenStream=127.0.0.1:4444
Accept=yes

[Install]
WantedBy=sockets.target
